h2 {
    color: black; text-align: center; line-height: normal; font-size: 48px;
}
p {
    color: #070606;text-align: center; font-size: larger; display: block; margin-left: auto; margin-right: auto font-weight: bold; padding-left: 150px; padding-right: 150px;
}
text {
    color: blue; font-weight: bold; font-size: larger; padding: 40px;
}
ol { text-align: justify; font-size: large; padding-left: 150px; padding-right: 150px; margin-left: 0; display: block;

}
.endtext {text-align: center;
}
.box {
    width: 1400px; height: 550px; background-color: aqua; padding: 50px;
}
.image {
     padding-block: 50px; padding-left: 300px;
}

.box2 {
    width: 1500px; height: 50px; text-align: center; flex-grow: 0; padding: 0px; gap: 3px;
}
.textdiv {text-align: center;
}
.container {
    display: flex;

    flex-direction: row;

    justify-content: flex-start;

    padding: 10px;
    outline: none;
    border: none;
    background: none;

}

.con1 {
    width: 100px;
    height: 0px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    position: relative;
    border: none;
    outline: none;
    list-style: none;
    background: none;
}

.con11 {
    background-color: none;
    outline: none;
    border: none;
    background: none;
}
.con2 {

    width: 100%;
    height: 50px;
    text-align: center;
    border-right: 0px;
    outline: none;
    border: none;
    list-style: none;
    background: none;
}

.con22 {
    outline: none;
    border: none;
    background: none;
}

.con3 {

    width: 100px;
    border-left: 0px;
    background-color: white;
    height: 50px;
    text-align: center;
}
.con33 {
    outline: none;
    border: none;
    background: none;
}
.con4{

    width: 100px;
    background-color: white;
    height: 50px;
    border-right: 0px;
    text-align: center;
}
.con44 {
    outline: none;
    border: none;
    background: none;
}

.con5{

    width: 100%;
    background-color: white;
    height: 50px;
    text-align: center;
}
.con55 {
    outline: none;
    border: none;
    background: none;
}